*{
    margin: 0;
    padding: 0;
    font-family: 'Inter',sans-serif;
}


.container{

}

/* Navbar */
nav{
    padding-top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 84px;
    background-color: #F5F7FA;
}

.logo h1{
    display: inline-block;
}
.nav-links{
    display: flex;
    gap: 30px;
}
.nav-links a{
    text-decoration: none;
    color: #18191F;
    font-size: 15px;
}
.nav-buttons{
    display: flex;
    gap: 14px;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}
.btnLogin{
    background-color: #F5F7FA;
    color: #4CAF4F;
}
.btnSignup{
    color: #F5F7FA;
    background-color: #4CAF4F;
}
.btn:hover{
    background: #3d8b40;
    color: white;
}

/* Section Hero : */
.hero{
    height: 600px;
    padding: 100px 0;
    background-color: #F5F7FA;
}
.hero-content{
    padding: 96px 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
}
.hero-text h1{
    color: #4D4D4D;
    font-size: 60px;
    margin-bottom: 30px;
}
.hero-text span{
    color: #4CAF4F;
}
.hero-text p{
    color: #717171;
    margin-bottom: 32px;
}
.btnReg{
    display: block;
    padding: 14px 32px;
    background-color: #4CAF4F;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}
.circle-iccons{
    display: flex;
    justify-content: center;
    gap: 10px;

}
.circle-icon{
    border-radius: 20px;
    width: 10px;
    height: 10px;
    background-color: #4CAF4F;
}
.opt{
    opacity: 30%;
}

/* Section Clients : */

.clients{
    margin-top: 50px;
    background-color: white;
    height: 190px;
    padding: 20px 144px;
    gap: 16px;
}
.clients-text{
    height: 76px;
}
.section-client-title{
    text-align: center;
    margin: 20px;
    font-size: 36px;
    color: #4D4D4D;
}
.section-client-subtitle{
    width: 100%;
    text-align: center;
    margin: 20px;
    font-size: 16px;
    color: #717171;
}
.clients-logos{
    height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

/* Section Feature */
.feature{
    height: 416px;
}
.feature-text{
    width: 1440px;
    margin-top: 100px;
}
.feature-text h2{
    color: #4D4D4D;
    font-size: 36px;
    text-align: center;
}
.section-feature-subtitle{
    width: 100%;
    text-align: center;
    color: #717171;
    margin-top: 20px;
}
.feature-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.feature-card div{
    width: 240px;
    height: 300px;
    padding: 24px 32px;
    text-align: center;
    align-content: center;
}
.feature-card h3{
    margin-top: 30px;
    width: 240px;
    font-size: 28px;
    color: #4D4D4D;
}
.feature-card p{
    width: 251px;
    color: #717171;
    font-size: 14px;
    margin-top: 20px;
}

/* Section Pixelgrade */

.pixelgrade{
    height: 433px;
    padding: 0 144px 0 144px;
}
.pixelgrade-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 110px;
}
.pixelgrade-text h2{
    margin-bottom: 20px;
    color: #4D4D4D;
    font-size: 36px;

}
.pixelgrade-text p{
    width: 600px;
    height: 80px;
    color: #717171;
    margin-bottom: 32px;
}

/* Section Stats */
.stats{
    height: 270px;
    background-color: #F5F7FA;
}
.stats-content{
    display: flex;
    justify-content: center;
}
.stats-text{
    width: 540px;
    padding: 50px;
}
.stats-text h2{
    font-size: 36px;
    line-height: 44px;
    color: #4D4D4D;
}
.stats-text span{
    display: block;
    color: #4CAF4F;
}
.stats-text p{
    margin-top: 20px;
    color: #18191F;
}
.stats-info{
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.stats-item{
    display: flex;
    justify-content: space-between;
    min-width: 200px;
}
.stats-item h3{
    color: #4D4D4D;
    font-size: 28px;
}
.stats-item div{
    margin-left: 30px;
}
.stats-item div,p{
    width: 250px;
}
.ma{
    margin-top: 20px;
}
.pp{
    width: 250px;
    color: #717171;
    margin-top: 8px;
}

/* Section Testimonial*/
.testimonial{
    height: 433px;
    padding: 0 144px 0 144px;
}
.testimonial-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.testimonial-image{
    height: 433px;
}
.testimonial-text{
    width: 660px;
    height: 224px;
}
.testimonial-text h2,p{
    width: 600px;
}
.testimonial-text h2{
    color: #4D4D4D;
    font-size: 36px;
}
.testimonial-text p{
    color: #717171;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Section Customers */
.customers{
    margin-top: 50px;
    height: 390px;
    background-color: #F5F7FA;
}
.customers-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.customers-image{
    margin-right: 80px;
    margin-top: 40px;
}
.customers-text-logos{
    width: 748px;
    height: 324px;
    margin-top: 40px;
}
.p1{
    color: #717171;
    font-size: 16px;
    line-height: 24px;
}
.customers-text-logos h4{
    font-size: 20px;
    color: #4CAF4F;
    margin-top: 12px;
}
.p2{
    font-size: 16px;
    line-height: 24px;
    color: #89939E;
    margin-top: 10px;
}
.customers-logos{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.customers-logos img{
    width: 48px;
    height: 48px;
}
.btnMeet{
    background-color: #F5F7FA;
    color: #4CAF4F;
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}


